// 推荐内容样式根据字段more_pic_urls是否有值可以分为两类：一类是文字描述，一类是图片展示
div.w-indexRecommend
	ul.indexRecommend-list
		li(v-on:click="gotoRecommendDetail")
			div.indexRecommend-content
				div.cover.avatar(data-original="https://qnmob2.doubanio.com/img/files/file-1489142436.jpg?imageView2/2/q/80/w/330/h/330/format/jpg")
					div.avatar-padding
				h3 一周豆瓣热门影视 | 这片跟你是不是粉丝没关系，你会理解这种感情的
				p 2017年第10周
			div.indexRecommend-info
				span.label 来自栏目 一周热门影视
				span.author by 豆瓣
		li(v-on:click="gotoRecommendDetail")
			div.indexRecommend-content
				div.cover.avatar(data-original="https://qnmob2.doubanio.com/img/files/file-1489142436.jpg?imageView2/2/q/80/w/330/h/330/format/jpg")
					div.avatar-padding
				h3 一周豆瓣热门影视 | 这片跟你是不是粉丝没关系，你会理解这种感情的
				p 2017年第10周
			div.indexRecommend-info
				span.label 来自栏目 一周热门影视
				span.author by 豆瓣
		li(v-on:click="gotoRecommendDetail")
			div.indexRecommend-content
				div.cover.avatar(data-original="https://qnmob2.doubanio.com/img/files/file-1489142436.jpg?imageView2/2/q/80/w/330/h/330/format/jpg")
					div.avatar-padding
				h3 一周豆瓣热门影视 | 这片跟你是不是粉丝没关系，你会理解这种感情的
				p 2017年第10周
			div.indexRecommend-info
				span.label 来自栏目 一周热门影视
				span.author by 豆瓣


